@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&family=Spectral:wght@400;700&display=swap');
:root {
    --main-font-color: rgb(14, 26, 32);
    --second-font-color: rgb(197, 212, 219);
    --main-bg-color: rgb(219, 230, 242);
    --second-bg-color:rgb(0, 0, 0);
    --second-bg-color-op: rgba(0, 0, 0, 0.5);
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color);
    max-width: 1200px;
    margin: auto;
    background-color: rgb(221, 221, 221);
}
header {
    background-color: var(--main-bg-color);
}
.nav,
.navbar {
    background-color: #fff;
    vertical-align: top;
}
.navbar-brand > img {
    width: 100%;
    max-width: 50px;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}
.dash {
    margin: auto;
    padding-top: 72px;
    min-height: 500px;
}
main {
    background-color: #fff;
    color: var(--second-font-color);
}
.home {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--main-font-color);
}
.error {
    background-color: #fff;
    padding-top: 100px;
}
.banner-adm {
    background: url(../../img/hero/error/samurai-perdido.webp) no-repeat;
    background-size: contain;
    aspect-ratio: 16/9;
    color: var(--main-font-color);
}
.banner-adm > h2,
.banner-adm > p{
    color: rgb(180, 16, 16);
    font-family: 'Spectral', serif;
}
.abm {
    background-color: #fff;
    padding-top: 100px;
    margin-top: 1rem;
    color: var(--main-font-color);
}
.listado {
    padding-top: 8px;
    background-color: var(--main-bg-color);
}
.tabla{
    background-color: #fff;
}
.tarjetas-producto {
    min-height: 500px;
}
.agregar {
    color: rgb(49, 232, 101);
}
.editar {
    color: rgb(232, 168, 49);
}
.borrar {
    color: rgb(203, 43, 43);
}
.btn-borrar {
    background-color: rgb(203, 43, 43);
    
}
.btn-borrar a {
    color: var(--main-font-color);
    text-decoration: none;
}
.btn-borrar:hover,
.btn-borrar a:hover {
    background-color: rgb(117, 21, 21);
    color: #fff;
}
.btn-editar {
    background-color: rgb(232, 168, 49);
    
}
.btn-editar a {
    color: var(--main-font-color);
    text-decoration: none;
}
.btn-editar:hover,
.btn-editar a:hover {
    background-color: rgb(123, 89, 26);
    color: #fff;
}
.btn-agregar {
    background-color: rgb(49, 232, 101);;
    
}
.btn-agregar a {
    color: var(--main-font-color);
    text-decoration: none;
}
.btn-agregar:hover,
.btn-agregar a:hover {
    background-color: rgb(26, 123, 50);
    color: #fff;
}
.btn-komei {
    background-color: var(--main-bg-color);
    
}
.btn-komei a {
    color: var(--main-font-color);
    text-decoration: none;
}
.btn-komei:hover {
    background-color: rgb(151, 169, 178);
    color: #fff;
}

.titulo-caraval {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-font-color);
}

.social,
.datos {
    list-style: none;
}
.social img {
    max-width: 60px;
}
.imagen-perfil {
    max-width: 250px;
}
.footer {
    padding-bottom: 72px;
    background-color: #000;
    color: var(--second-font-color);
}
.footer-perfil {
    padding: 1rem;
}

@media (min-width: 576px) {

 }

@media (min-width: 768px) {

 }

@media (min-width: 992px) { 
    .footer {
        padding-bottom: 0;
    }
}

@media (min-width: 1200px) { 

}
@media (min-width: 1400px) { 

}